/*base colors and attributes*/
:root {
    --background_color1: #212121;
    --background_color2: #111111;
    --base_color: grey;
    --color1: #f1f1f1;

    --p1: 16px;
    --p2: 13px;
    --h2: 32px;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    font-family: Helvetica, sans-serif, Arial;

    background-color: var(--background_color1);
    color: var(--color1);
}

/*Hamburger menu styling in computer browser*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: var(--background_color2);
    margin: 4px;
    transition: 0.3s;
}

/*If the screen is less than 768px wide*/
@media only screen and (max-width: 768px){
    /*Styles for mobile devices*/
    html, body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: 0;
    }

    .container {
        max-width: 100vw;
        overflow-y: auto;
    }

    .menuItems {
        display: none; /*This hides navbar links by default*/
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .menuItems li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    /*Active Menu styling*/
    .menuItems.active {
        display: flex; /*Show nav links when active*/
    }

    /*Hamburger menu animation*/
    .hamburger.active span:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2){
        opacity: 0;
    }

    .hamburger.active span:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    }

    body {
        font-size: var(--p1);

    }

    footer {
        width: 100%;
    }
}

footer {
    margin: 0;
    padding: 0;
}

p {
    font-size: var(--p1);
    letter-spacing: 0.1em;
    margin: 0;
}

h1 {
    font-size: 6vw;
    letter-spacing: 0.01em;
    margin: 0;
}

.center {
    text-align: center;
}

#canvas {
    position: absolute;
    z-index: -1;
}

#footer {
    padding-top: 16px;
    background-color: var(--background_color2);
    width: 100vw;
}

#bottomtext {
    font-size: 12.32vw;
    font-weight: 1000;
    font-style: italic;
    letter-spacing: -0.13em;
    margin-top: 80px;
    margin-bottom: 0;
}

/*Navigation bar*/
nav {
    width: 100vw;
    
    .menuItems {
        list-style: none;
        display: flex;
        background-color: var(--background_color2);
        padding-inline-start: 0;
        padding-left: 20vw;
        padding-right: 20vw;
        margin: 0;

        li {
            width: 100%;
            text-align: center;
            margin-top: 32px;
            margin-bottom: 32px;

            a  {
                /*Setting how the text should look in navbar*/
                text-decoration: none;
                font-weight: bold;
                color: var(--base_color);
                font-size: var(--h2);
                transition: all 0.25s ease-in-out;
                position: relative;
                text-transform: uppercase;
                letter-spacing: 0.05em;
  
                &::before {
                    content: attr(data-item);
                    transition: 0.25s;
                    color: var(--color1);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    overflow: hidden;
                }
  
                &:hover {
                    &::before {
                        width: 100%;
                        transition: all 0.25s ease-in-out;
                    }
                }
            }
        }
    }
}