/*base colors and attributes*/
:root {
    --background_color1: #212121;
    --background_color2: black;
    --base_color: grey;
    --color1: #f1f1f1;

    --p1: 16px;
    --p2: 13px;
    --h2: 32px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;

    font-family: Helvetica, sans-serif, Arial;
    background-color: var(--background_color1);
    background-image: url(assets/noise.svg);
    color: var(--color1);
}

footer {
    margin: 0;
    padding: 0;
}

p {
    font-size: var(--p1);
    letter-spacing: 0.1em;
}

h1 {
    font-size: 6vw;
    letter-spacing: 0.01em;
}

.center {
    text-align: center;
}

#canvas {
    position: absolute;
    z-index: -1;
}

#footer {
    padding-top: 16px;
    background-color: var(--background_color2);
    width: 100vw;
}

#bottomtext {
    font-size: 12.32vw;
    font-weight: 1000;
    font-style: italic;
    letter-spacing: -0.13em;
    margin-top: 80px;
    margin-bottom: 0;
}

/*Navigation bar*/
nav {
    width: 100vw;
    
    .menuItems {
        list-style: none;
        display: flex;
        background-color: var(--background_color2);
        padding-inline-start: 0;

        li {
            width: 100%;
            text-align: center;
            margin: 32px;

            a  {
                /*Setting how the text should look in navbar*/
                text-decoration: none;
                font-weight: bold;
                color: var(--base_color);
                font-size: var(--h2);
                transition: all 0.25s ease-in-out;
                position: relative;
                text-transform: lowercase;
                letter-spacing: 0.05em;
  
                &::before {
                    content: attr(data-item);
                    transition: 0.25s;
                    color: var(--color1);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    overflow: hidden;
                }
  
                &:hover {
                    &::before {
                        width: 100%;
                        transition: all 0.25s ease-in-out;
                    }
                }
            }
        }
    }
}